:root {
  --biru-color: hsla(225, 97%, 61%, 1);
  --biru--btn: hsla(231, 100%, 58%, 1);
  --border-color: hsla(0, 0%, 91%, 1);
  --nav-color: hsla(221, 12%, 35%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--biru-color);
  min-height: 100vh;
  position: relative;
  display: flex;
}

.container {
  min-width: 710px;
  min-height: 100vh;
  background-color: white;
  border-radius: 0px 40px 40px 0;
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 710px;
}

.container-main > div:nth-child(1) {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: "Nunito Sans";
  color: var(--biru-color);
  font-weight: 600;
  font-size: 20px;
}

.container-main > div:nth-child(2) h3 {
  font-weight: 500;
}

.container-main > div:nth-child(4) {
  border: 1px solid hsla(0, 0%, 91%, 1);
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
}

.container-main > div:nth-child(4):hover {
  cursor: pointer;
  background: var(--biru--btn);
}

.container-main > div:nth-child(4):active {
  transform: scale(0.85);
}

.container-main > div:nth-child(4) a:hover {
  color: white;
}

.container-main > div:nth-child(5) {
  border: 1px solid hsla(0, 0%, 91%, 1);
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
}

.container-main > div:nth-child(5):hover {
  cursor: pointer;
  background: var(--biru--btn);
}

.container-main > div:nth-child(5):active {
  transform: scale(0.85);
}
.container-main > div:nth-child(5) a:hover {
  color: white;
}

.container-main > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-main > form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  /* background: hsla(0, 0%, 87%, 1); */
  height: 70px;
  margin-bottom: 20px;
}

.container-main > form > div > div {
  border: 1px solid hsla(0, 0%, 87%, 1);
  padding: 10px;
  border-radius: 6px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.container-main > form > div > div > span > i {
  cursor: pointer;
  color: grey;
}

.container-main > form > div > div > input {
  width: 100%;
  border: none;
  outline: none;
  font-family: Montserrat;
  background: none;
}

.container-main > form > div > div > input:focus {
  background-color: none;
}

.container-main > form > div > button {
  background: var(--biru--btn);
  color: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  border: none;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
}

.container-main > form > div:last-child p {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .icon {
    display: none;
  }

  .container {
    min-width: 50%;
    /* background-color: red; */
    border-radius: 0px;
  }

  .container-main > div:nth-child(3) {
    width: 350px;
  }
  .container-main > div:nth-child(4),
  .container-main > div:nth-child(5) {
    min-width: 50%;
  }

  .container-main > form > .input-form {
    width: 30px;
  }

  .container-main > form > div:nth-child(2) {
    /* height: 50px; */
    margin-top: -20px;
  }

  .container-main > form > div > div {
    min-width: 50%;
  }

  .container-main > form > div > button {
    min-width: 50%;
  }

  .container-main > form > div:last-child p {
    /* background-color: red; */
    text-align: center;
    min-width: 50%;
    margin-top: -50px;
  }
}

/* @media screen and (min-width: 760px) {
  .icon {
    display: none;
  }
  .container {
    width: 100%;
    border-radius: 0px;
    font-size: 12px;
  }
  .container-main > div:nth-child(1) {
    margin: 0 auto;
  }

  .container-main > div:nth-child(2) {
    margin: 0 auto;
  }

  .container-main > div:nth-child(3) {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
  }

  .container-main > div:nth-child(4) {
    font-size: 16px;
    padding: 10px;
    margin: 0 auto;
  }
  .container-main > div:nth-child(5) {
    font-size: 16px;
    padding: 10px;
    margin: 0 auto;
  }
  .container-main {
    width: 100%;
  }
}

@media screen and (max-width: 586px) {
} */
